<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= username %>分享的文件</title>
</head>
<body>
    <div style="text-align: center;">
        <h1><%= username %>分享的文件</h1>
        <h3><%= fileName %></h3>
        <a href="/download/<%= username %>/<%= fileName %>" target="_blank">下载文件</a>
    </div>
</body>
</html>